*{
    margin:0;
    padding:0;
    text-align:center
}
h1{
    height:5rem;
    background-color: #03071e;
    color:white;
    line-height: 5rem;
}
.choice{
    height:165px;
    width:165px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;;
}
.choice:hover{
    background-color: #03071e;
    cursor:pointer;
}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}
.score{
    font-size: 2rem;
}
#user_score,#comp_score{
    font-size: 4rem;
}
.msg_container{
    margin-top: 3rem;
}
#msg{
    background-color: #03071e;
    color: white;
    font-size: 2rem;
    display:inline;
    padding:1rem;
    border-radius: 1rem;

}
